@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-2">Welcome To Ministry Of Health</h1>
        <h1 class="display-4">Kingdom Of Eswatini</h1>
        <p>Covid-19 Testing Web-Site</p>
    </div>
