<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewBag.Title | Ministry Of Health</title>
    <!-- Favicons -->
    <link href="../dist/img/Swazi32x32.png" rel="icon">
    <link href="../dist/img/Swazi32x32.png" rel="apple-touch-icon">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition layout-top-nav">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
            <div class="container">
                <a href="#" class="navbar-brand">
                    <img src="~/dist/img/MOHLogo128.png" alt="AdminLTE Logo" class="brand-image">
                    <span class="brand-text font-weight-bold">Ministry Of Health</span>
                    <span class="font-weight-lighter">[Kingdom Of Eswatini]</span>
                </a>

                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        <!-- Messages Dropdown Menu -->
                        <li class="nav-item">
                            <a class="nav-link text-danger" asp-action="Index" asp-controller="Home">
                                <i class="fas fa-home"></i> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-action="ContactUS" asp-controller="Home">
                                <i class="fas fa-phone"></i> Contact-Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">
                                <i class="fas fa-search"></i> Search Test Result
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-success" asp-action="Index" asp-controller="Logins">
                                <i class="fas fa-sign-in-alt"></i> Sign-In
                            </a>
                        </li>
                    </ul>

                </div>

            </div>

        </nav>
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container">

                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                
                    @RenderBody()
                    <!-- /.row -->
                
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                    Design & Developed By <a href="https://arnikainfotech.com" target="_blank">Arnika Technologies</a>
                </div>
            <!-- Default to the left -->
            <strong class="">Copyright &copy; @DateTime.Now.Year <a href="http://www.gov.sz/index.php/ministries-departments/ministry-of-health" target="_blank">Ministry Of Health</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
</body>
</html>
